/* add custom styles */
body{
font-family: 'Ubuntu', sans-serif;
}

.header-text{
  font-family: 'Poiret One', cursive;
}
.movie-page{
  text-align: center;
}

.center{
  text-align: center;
}

.movie-box{
  border: thin gray solid;
  margin: 10px;
  width: 300px;
  height: 100px;
  float: left;
  text-align: left;
  padding: 10px;
  color: #008080;
  overflow: hidden;
}

.lighter{
  font-weight: 400;
  font-size: 14px;
}

.movie-box:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}


.specificMovie{
  border: thin gray solid;
  margin-top: 15px;
}

.poster{
  float: left;
  height: 300px;
}


.deets{
  margin-left: 225px;

}

.search-results{
  margin: auto;
  width: 95%;
}

.contacts{
  text-align: left;
  margin-left: 15px;
}

.fill{
  background-color: #e0eaf4
}

.profile-pic{
  height: 175px;
}

.tea-table{
  padding: 10px;
  clear: both;
  width: 100%;

}
.right{
  text-align: right;
  float: right;
}

.smaller-input{
  width: 50px;
  font-weight: 400;
  text-align: center;
}

.tea-info{
  padding: 15px;
}

.tea-title{
  float: left
}

.tea-body{
float: left;
width: 50%;
}

.caff-scale{
  border: thin black solid;
  float: right;
  padding: 10px;
  text-align: center;
}

.tea-table-header{
  padding: 10px;
}

.all-tea-info{
  width: 85%;
  margin: auto;
}

.tea-page-title{
  color: orange;
  font-style: italic;
}

.search-bar{
  width: 200px;
}

.right-bar{
  float: right;
}

.tea-pic{
  width: 300px;
}

.checkout{
  width: 150px;
  text-align: center;
}

.bold{
  font-weight: bold;
}

.tea-picture{
  float: left;
  clear: both;
}

.checkout-table{
  float: left;
  clear: left;
}


.vertical-top{
  vertical-align: top;
  margin: auto;
  padding-top: 20px;
}

.centered{
  margin: auto;
  display: table;
}

.quantity-input{
  width: 50px;
}

.place-order{
  float: right;
  margin: 10px;
}

.logo{
  height: 200px;
}

.poke-title{
color: mediumturquoise;
}

.poke-btn{
  margin: auto;
  display: table;
}

.color-inputs{
  background-color: white;
  text-align: center;
  margin-bottom: 10px;
}

.pic-wheel{
  height: 350px;
  margin: auto;
  display: table;
}

.left-arrow{
  float: left;
  margin-top: 160px;
}

.right-arrow{
  float: right;
  margin-top: -200px;
}

.thumbnail-preview{
  display: table;
  margin: auto;
}

.little-thumb{
  height:100px;
  padding: 5px;
}

.big-thumb{
  height: 150px;
  padding: 5px;
}


/*caffeine meter*/





.gauge {
  display: flex;
}

/*// Gauge*/
.mask {
  position: relative;
  overflow: hidden;

  display: block;
  width: rem(200);
  height: rem(100);
  margin: rem(20);
}
.semi-circle {
  position: relative;
  display: block;
  width: rem(200);
  height: rem(100);

  background: linear-gradient(to left, #c0392b 0%, #f1c40f 50%, #1abc9c 100%);

  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;

    display: block;
    width: rem(140);
    height: rem(70);
    margin-left: rem(-70);

    background: #fff;

    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
  }
}

.semi-circle--mask {
  position: absolute;
  top: 0;
  left: 0;

  width: rem(200);
  height: rem(200);

  background: transparent;

  transform: rotate(180deg) translate3d(0,0,0);
  transform-origin: center center;
  backface-visibility: hidden;
  transition: all .3s ease-in-out;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0%;
    z-index: 2;

    display: block;
    width: rem(202);
    height: rem(102);
    margin: -1px 0 0 -1px;

    background: #f2f2f2;

    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
  }
}
