/* add custom styles */
.movie-page{
  text-align: center;
}

.center{
  text-align: center;
}

.movie-box{
  border: thin gray solid;
  margin: 10px;
  width: 300px;
  height: 100px;
  float: left;
  text-align: left;
  padding: 10px;
  color: #008080;
  overflow: hidden;
}

.lighter{
  font-weight: 400;
  font-size: 14px;
}

.movie-box:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}


.specificMovie{
  border: thin gray solid;
  margin-top: 15px;
}

.poster{
  float: left;
  height: 300px;
}


.deets{
  margin-left: 225px;

}

.search-results{
  margin: auto;
  width: 95%;
}

.contacts{
  text-align: left;
  margin-left: 15px;
}

.fill{
  background-color: #e0eaf4
}

.profile-pic{
  height: 175px;
}
