<h1> {{title}} </h1>

<p>{{message}}</p>

<br>
<br>


<div gs-change-background style="background-color: green">
<div class='color-inputs'>
 <h5>Enter a color and mouseover to see the change!</h5>
 Text Color
<input ng-model= 'text' placeholder='Text Color'>
Background Color
<input ng-model= 'background' placeholder='Background Color'>
</div>
<br>
<br>
<h3 class ='center'>Hello World!</h3>
<br>
<br>
</div>

<br>
<br>

<h3 class = 'center'>Carousel of Naughty Cats - You won't believe #7!</h3>
<div image-carousel>

<button ng-click='prevPic(image)' class = 'btn left-arrow btn-success'><span class = 'glyphicon glyphicon-arrow-left'></span> </button>
<img class='pic-wheel' src = {{image}}>
<button ng-click='nextPic(image)' class = 'btn right-arrow btn-success'><span class = 'glyphicon glyphicon-arrow-right'></span> </button>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
