<h1> {{title}} </h1>

<p>{{message}}</p>



<h4>kebab - "1231213212" = {{"1231213212" | kebab}}</h4>

<h4>kebab - "hello_peeps" = {{"hello_peeps" | kebab}}</h4>

<h4>camel - "1231213212" = {{"1231213212" | camel}}</h4>

<h4>camel - "hello-peeps-sup" = {{"hello-peeps-sup" | camel}}</h4>

<h4>camel - "hello_peeps_sup" = {{"hello_peeps_sup" | camel}}</h4>

<h4>pigLatin - "my name is sarah" = {{"my name is sarah" | pigLatin}}</h4>

<h4>pigLatin - "I like to consume chocolate" = {{"I like to consume chocolate" | pigLatin}}</h4>

<h4>redact - "I like to consume chocolate" = {{"I like to consume chocolate" | redact:'chocolate' }}</h4>

<h4>redact - "He really likes long walks in the park." = {{"He really likes long walks in the park." | redact:'walks' }}</h4>
