<div class = 'movie-page'>
  <h1> Angular OMDb API Search </h1>


  <h4>Enter a movie by title:</h4>
  <form>
    <input ng-model='movieTitle' placeholder="Jurassic Park" required>
     <div class="form-group">
      <div class="checkbox">
        <label><input ng-model='tomato' type="checkbox"> Show Rotten Tomatoes Data</label>
      </div>
  </div>
    <button ng-click='movieSearch()' type='submit' class= 'btn btn-primary'>Search! &nbsp<span class = 'glyphicon glyphicon-arrow-right'></span></button>
  </form<>

  <div class='container search-results' id='searchResults' ng-hide='show'>
    <div class= 'movie-box' ng-repeat= 'movie in movies' ng-click='pickMovie()' >
    <h4>{{movie.Title}}</h4>
    <p>year: {{movie.Year}}</p>

  </div>
  </div>

  </div>
  <div class='specificMovie container' ng-show='show'>
  <h1>{{movieData.Title}}</h1>

  <img class= 'poster' src = "{{movieDataPic}}">

  <div class = 'deets'>
    <h3> Additional Details</h3>

    <h4>Starring: <span class='lighter'>{{movieData.Actors}}</span></h4>

    <p>{{movieData.Plot}}</p>

    <h4>Awards</h4>
    {{movieData.Awards}}

    <h4>Country</h4>
    {{movieData.Country}}

    <h4>Director</h4>
    {{movieData.Director}}

    <h4>Language</h4>
    {{movieData.Language}}

    <h4>Metascore</h4>
    {{movieData.Metascore}}

    <h4>Rated</h4>
    {{movieData.Rated}}

    <h4>Released</h4>
    {{movieData.Released}}

    <h4>Runtime</h4>
    {{movieData.Runtime}}

    <h4>Title</h4>
    {{movieData.Title}}

    <h4>Writer</h4>
    {{movieData.Writer}}

    <h4>Year</h4>
    {{movieData.Year}}

    <h4>IMDB Rating</h4>
    {{movieData.imdbRating}}

    <div ng-show='tomatoInfo'>

    <h4>Critics' Tomato Consensus</h4>
    {{movieData.tomatoConsensus}}

    <h4>Tomato Fresh</h4>
    {{movieData.tomatoFresh}}

    <h4>Tomato Rotten</h4>
    {{movieData.tomatoRotten}}

    <h4>Tomato Critic Meter</h4>
    {{movieData.tomatoMeter}}

    <h4>Tomato User Meter</h4>
    {{movieData.tomatoUserMeter}}

    <h4>Tomato User Rating</h4>
    {{movieData.tomatoUserRating}}

    </div>
  </div>




</div> <!--end movie page -->
